<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 1. MENGIZINKAN FILE HTML STATIS (Penting untuk Dosen)
    # Jika file yang diminta adalah file .html/.htm, biarkan server membukanya
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule \.(html|htm)$ - [L]

    # 2. MENGARAHKAN SEMUA REQUEST LAINNYA KE LARAVEL
    # Jika yang diminta bukan file fisik (dan bukan file html), lempar ke index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
